*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
}
#calculate{
    width: 620px;
    height: 200px;
    background: #ff8a13;
    padding-top: 5px;
}
td{
    width: 120px;
    height: 65px;
    border: 1px solid #ff8a13;
    font-size: 20px;
    font-weight: bold;

    text-align: center;
}