*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("../img/loginPageBackground.jpg");
	background-size: cover;
}
form{
	box-sizing: content-box;
	width: 600px;
	padding: 20px;
	background: #ffe4cc;
	/*margin: 200px auto;*/
	/*适用于块元素的垂直居中的方法*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);


}

label {
	/*display: block;*/
}

form>p,
form>div{
	/*padding-left: 17%;*/
}

form p:last-child{
	padding: 0;
}
#login{
	/*width: 20%;*/
	/*margin: 0 40%;*/
}

#codeAside{
	overflow: hidden;
	/*width: 100px ;*/
}

#codeAside label,
#codeAside #code,
#codeAside #getCode{
	float: left;
}
/*消除边距*/
input#getCode {
	/*width: 20%;*/
	margin-left: -4px;
}
#getCode{
	width: 200px;
	height: fit-content;
	font-size: 36px;
	background-image: url('../img/randomCodeImg.jpg');
	cursor: default;
}
#getCode>span:first-child{
	margin-left: 20px;
}
#getCode>span{
	display: inline-block;
	width: 20px;
	text-align: center;
	/*transform: rotate(45deg);*/
}
/*错误信息设置开始*/
#error{
	display: none;
}
#error.error{
	display: block;
	color: #ff1c06;
}
/*错误信息设置结束*/